.wrapper {
	background-color: black;
	height: 45px;
	padding-top: 10px;
}

.scrollableText {
	width: max-content;
	overflow: hidden;
	overflow-x: scroll;
	background-color: black;
	color: white;
	margin-top: auto;
	margin-bottom: auto;
}
