.wishlistPageContainer {
  margin-top: var(--pageTopMargin);
  padding-top: 24px;
}

.wishlistPageContainer h3 {
  color: black;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  padding-bottom: 8px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 1rem;
}

.productsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: auto;
}

.productCardWrapper {
  width: 29vw;
  padding-top: 24px;
}

.goBackToShoppingContainer {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  cursor: pointer;
}

.goBackToShoppingContainer img {
  margin-right: 1rem;
}

/* For Mobile */
@media (max-width: 767px) {
  .productCardWrapper {
    width: 44vw;
    padding-top: 24px;
  }
}
