.productDetailsContainer {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  /* background-color: #f7f9f8; */
}

.imageAndProductDetails {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}

.detailsContainer {
  flex: 1 1 40%;
  padding: 20px 40px;
}

.imageContainerOnSmallScreens {
  display: none;
}
.imageContainerOnLargerScreensGrid {
  flex: 1 1 60%;
  display: grid;
  column-gap: 8px;
  grid-template-columns: auto auto;
  margin-bottom: 8px;
}

.imageWrapperGridItem {
}

.imageWrapperGridItem img {
  width: 100%;
  height: auto;
}

.productDescription h1 {
  font-size: 22px;
  margin-bottom: 18px;
}

.productDescription h4 {
  font-size: 13px;
  margin-bottom: 18px;
  font-weight: 400;
}
.detailsContainer p {
  font-size: 13px;
}

.deliveryDetails {
  margin-bottom: 8px;
  margin-top: 16px;
}
.deliveryDetails > div {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.deliveryDetails > div > img {
  margin-right: 16px;
}
.deliveryDetails > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  color: var(--label);
}
.deliveryDetails > div > div > p:first-child {
  color: var(--value);
  font-weight: 700;
}

.priceDetails {
  margin-bottom: 8px;
}
.priceDetails > p {
  color: var(--label);
}
.priceDetails span {
  color: var(--value);
  font-weight: 700;
}

.relatedDetails {
  color: var(--label);
  margin-bottom: 16px;
}

.relatedDetails span {
  color: var(--value);
  font-weight: 700;
}

.shippingDetailsOnLargerScreenGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 8px;
  margin-bottom: 8px;
}
.shippingDetailsOnLargerScreenGrid > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f7f9f8;
}

.imageContainerOnLargerScreensGridSecond {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 8px;
}

.imageContainerOnLargerScreensGridSecond > div:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.shippingDetailsOnSmallerScreen {
  display: none;
}
.productDetailsHeading {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.expandableContainer li,
.expandableContainerExpanded li {
  font-size: 13px;
  color: var(--label);
}

.detailsLabel {
  margin-bottom: 8px;
}

.detailsLabel p {
  font-size: 13px;
  color: var(--label);
}
.buttonForLargerScreen {
  /* all:unset; */
  width: 100%;
  height: 50px;
  border: none;
  background-color: var(--buttonBackgroundDark);
  color: white;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.moreProductsLargerScreen {
  display: flex;
  flex-direction: column;
}
.moreProductsLargerScreen h1 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.moreProductsCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 6rem 0 6rem;
}

.moreProductsCardContainer {
  width: 20%;
  padding: 0 10px 20px 10px;
}

.moreProductsSmallerScreen {
  display: none;
}

/* For smaller screens */
@media (max-width: 1025px) {
  .productDetailsContainer {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    background-color: #f7f9f8;
  }

  .productDetailsContainer > div {
    background-color: white;
  }

  .imageAndProductDetails {
    flex-direction: column;
  }

  .imageContainerOnLargerScreens {
    display: none;
  }
  .imageContainerOnSmallScreens {
    display: block;
    width: 100vw;
    height: 60vh;
    margin-bottom: 16px;
  }

  .swiperContainer {
    width: 100%;
    height: 100%;
  }

  .productImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1.5;
  }

  .detailsContainer {
    padding: 0;
    flex: 1 1;
  }
  .productDescription {
    padding: 16px;
  }

  .productDescription h1 {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .relatedDetails {
    padding: 16px;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .deliveryDetails {
    padding: 16px;
    margin-bottom: 8px;
  }
  .deliveryDetails > div {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .deliveryDetails > div > img {
    margin-right: 16px;
  }
  .deliveryDetails > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
  }
  .deliveryDetails > div > div > p:first-child {
    font-weight: 700;
  }

  .shippingDetailsOnSmallerScreen {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    margin-bottom: 8px;
  }

  .shippingDetailsOnSmallerScreen > div {
    aspect-ratio: 1/1;
    max-width: 24%;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: #f7f9fb;
  }

  .productDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productDetails {
    padding: 1rem;
  }
  .productDetails ul {
    list-style-position: inside;
  }

  .productDetails li {
    margin-bottom: 8px;
  }

  .priceDetails {
    padding: 16px;
  }
  .fixedContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .fixedContainer h1 {
    font-size: 16px;
  }

  .expandableContainer {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition:
      max-height 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
    border-radius: 4px;
  }

  .expandableContainerExpanded {
    max-height: 500px; /* Adjust based on content */
    opacity: 1;
    transition:
      max-height 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
  }

  .expandableContainer > div,
  .expandableContainerExpanded > div {
    margin-bottom: 1rem;
  }

  .moreProductsSmallerScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .moreProductsSmallerScreen h1 {
    font-size: 22px;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  .shippingDetailsOnLargerScreenGrid {
    display: none;
  }

  .imageContainerOnLargerScreensGrid {
    display: none;
  }
  .imageContainerOnLargerScreensGridSecond {
    display: none;
  }
  .moreProductsLargerScreen {
    display: none;
  }
}
