.cardContainer {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
}

.imageContainer img{
    width: 100%;
    height: auto;
}
.textContainer {
  display: flex;
  flex-direction: column;
}

.productDescription {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 16px;
}

.productPrice {
  width: 100%;
  font-size: 12px;
}
@media (max-width: 767px) {
    .cardContainer {
        flex-basis: 50%;
        /* display: flex;
        flex-direction: column;
        padding-bottom: 2.5rem;
        height: 436px; */
    }
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productDescription {
    font-size: 16px;
  }
}
