.productContainer {
  width: 100%;
  overflow: hidden;
  background-color: inherit;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  color: black;
}

.imageContainer {
  position: relative;
  /* width: 100%;
  aspect-ratio: 16/9; */
}

/* .imageContainer img {
  width: 100%;
  height: auto;
  aspect-ratio: 0.9 / 1.1;
} */

.textContainer {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
}

.productTitle {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 11px;
}

.swiperContainer {
  width: 100%;
  height: 100%;
}

.productImage {
  object-fit: contain;
}

.buyContainer {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
}

.productDetailsContainer {
  display: flex;
  justify-content: space-between;
}
.wishlistSvgContainer {
}

.bagSvgContainer {
  margin-left: 0.5rem;
}

/* Swiper.js */
.swiperContainer div:last-child,
.swiperContainer div:nth-child(2) {
  font-weight: 900;
  opacity: 0;
}

/* .swiperContainer:hover div:last-child,
.swiperContainer:hover div:nth-child(2) {
  opacity: 1;
} */
