:root {
  --background: #ffffff;
  --foreground: #171717;
  --value: #424954;
  --label: #565e6a;
  --buttonBackgroundDark: #2d333d;
  --backgroundGrey: #f7f9f8;
  --backgroundGrey1: #f4f4f5;
  --accentColor: #57b3b2;

  --pageTopMargin: 94px;
}

/* Media query for dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;    
    --foreground: #2a2a2a;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .page {
    padding-top: 64px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
