.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  gap: 64px;
  padding-top: 65px;
  font-family: var(--font-geist-sans);
  background-color: white;
  color: black;
}

.navbar_container {
  display: flex;
  width: 100%;
}

/* 
* Desktop
*/
@media (min-width: 768px) {
  .heroContainer {
    display: flex;
    width: 100%;
    height: 80vh;
  }

  .heroImage {
    flex: 1 1 50%;
    width: 50%;
    height: 100%;
  }

  .discountContainer {
    flex: 1 1 50%;
    height: 100%;
  }
}

/* Mobile View */
@media (max-width: 767px) {
  .heroContainer {
    display: flex;
    flex-direction: column-reverse;
    height: 80vh;
  }

  .heroImage {
    flex: 1 1 55%;
    width: 100vw;
    height: 100%;
  }

  .textContainer {
    flex: 1 1 45%;
  }
}
