.productCatalogContainer {
  background-color: white;
  /* width: 100vw; */
}

.productsContainer {
  /* width: 100%; */
}

.productsContainer > div {
  max-width: 25vw;
}

/* @media (max-width: 1024px) {
  .productsContainer > div {
    max-width: 50vw;
  }
} */
