.slidingBannerContainer {
  position: fixed;
  top: 0;
  z-index: 999;
  display: block;
  width: 100%;
  height: 30px;
  overflow: hidden;
  background-color: #294a70;
  color: white;
}

.textContainer {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Embla specific styles */
.embla {
  overflow: hidden;
  height: 100%;
}

.emblaContainer {
  display: flex;
  height: 100%;
}

.emblaSlide {
  flex: 0 0 100%;
  min-width: 0;
  height: 100%;
}